/* PAGE */
.patients-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #e7faff;
}

/* SUMMARY CARDS */
.patients-summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.p-card {
  padding: 22px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 8px 18px rgba(0,0,0,0.10);
  font-family: "Poppins", sans-serif;
  height: 110px;
}

.p-card h4 {
  font-size: 14px;
  opacity: 0.85;
}

.p-card p {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 700;
}

.p-card.blue { background: #4c6ef5; }
.p-card.green { background: #2ecc71; }
.p-card.pink { background: #e84393; }
.p-card.purple { background: #8e44ad; }

/* FILTER BAR */
.patients-filters {
  display: flex;
  gap: 18px;
}

.patients-filters input,
.patients-filters select {
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ced6e0;
  background: white;
  font-size: 15px;
}

.add-btn {
  padding: 12px 24px;
  background: #4c6ef5;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.add-btn:hover {
  opacity: 0.9;
}

/* TABLE CARD */
.patients-table {
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 28px rgba(0,0,0,0.10);
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #f2f5ff;
  padding: 14px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}

td {
  padding: 15px;
  border-bottom: 1px solid #edf2f7;
  font-size: 15px;
}

/* BUTTONS */
.edit-btn {
  padding: 7px 14px;
  background: #3498db;
  color: white;
  border-radius: 8px;
  border: none;
  margin-right: 8px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn {
  padding: 7px 14px;
  background: #e74c3c;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* EMPTY MESSAGE */
.no-data {
  text-align: center;
  padding: 22px;
  color: #666;
  font-size: 15px;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 26px;
  border-radius: 16px;
  width: 420px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-box input,
.modal-box select {
  padding: 13px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.save-btn {
  padding: 10px 16px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-btn {
  padding: 10px 16px;
  background: #aaa;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
